.header{
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  height: 80px;
}
.blockTitle{
  width: 147px;
  height: 56px;
  margin-left: 22px;
  margin-top: 9px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  a{
    text-decoration: none;
    color: #000000D9;

  }
}

.signUp{
  margin-right: 22px;
  margin-top: 16px;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 109px;
  height: 51px;
  border-radius: 5px;
  border: 1px solid #52C41A;
  background:#FFFFFF;
  color:#52C41A;
  cursor: pointer;
  text-decoration: none;
}

.signIn{
  margin-right: 19px;
  border: none;
  background:#FFFFFF;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}